student{
display:block; margin-top:30px; 
}
USN{
display:block; margin-top:30px;margin-left:10px;font-size:20pt; color:Red;
}
name{
display:block; margin-left:20px;font-size:15pt; color:Green;
}
clg{
display:block; margin-left:20px;font-size:12pt; color:Magenta;
}
branch{
display:block; margin-left:20px;font-size:12pt; color:Aqua;
}
yr{
display:block; margin-left:20px;font-size:12pt; color:Coral;
}
e-mail{
display:block; margin-left:20px;font-size:12pt; color:Grey;
}
student{
max-width:50%;margin:auto; 
}

